<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admimn Page</title>
  </head>
  <body>
    <form action="/logout" method="post">
      <input type="submit" name="" value="logout" id="" />
    </form>
    <br /><br /><br />
    <table>
      <tr>
        <th>Full Name</th>
        <th>User Name</th>
        <th>Age</th>
      </tr>
      {{range .}}
      <tr>
        <td>{{.FullName}}</td>
        <td>{{.Uname}}</td>
        <td>{{.Age}}</td>
        <td>
          <form action="/delete" method="post">
            <input type="text" value="{{.ID}}" class="id" name="id"  style="display: none;"/>
            <input type="submit" value="Delete" />
          </form>
        </td>
      </tr>
      {{end}}
    </table>
  </body>
</html>
